body{
    background: url(background1.jpg);
    width: 100%;
    height: 100vh;
    font-family: 'sans-serif';
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    
}
.login{
    width: 390px;
    height: 300px;
    margin: auto;
    font-size: 22px;

}
h1{
    text-align: center;
    color: rgb(255, 163, 163);
}
form{
    width: 250px;
    margin: auto;
}
form label{
    font-size: 20px;
    color: white;
}
form input{
    width: 100%;
    padding: 4px;
    border: none;
    border: 1px solid gray;
}
.submit{
    width: 260px;
    height: 35px;
    margin-top: 20px;
    border: none;
    background-color: rgb(255, 163, 163);
    color: white;
    font-size: 20px;
    cursor: pointer;
}
p{
    text-align: center;
    padding-top: 20px;
    font-size: 20px;
    color: white;
    padding: 0px;

}
p a{
    color: white;

}
p a:hover{
    color: rgb(255, 163, 163);
}